{% extends '@AcMarcheIssep/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Les données en brut</h3>
        <div class="card-body">
            <div class="aler alert-info">
                Les données reçues par l'issep, sans manipulation.
            </div>
            <h4>Stations</h4>
            {{ stations }}
            <h4>Derniers belaqi</h4>
            {{ indices }}
        </div>
    </div>

{% endblock %}

