{% extends 'base5.html.twig' %}

{% block brand %}
    <a class="navbar-brand" href="{{ path('issep_home') }}" title="Accueil">
        <i class="fas fa-home"></i> Stations</a>
{% endblock %}

{% block stylesheets %}
    <style>
        .myCircle {
            height: 25px;
            width: 25px;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
{% endblock %}

{% block menu_top %}
    <li class="nav-item">
        <a href="{{ path('issep_home') }}" class="nav-link">
            <i class="fas fa-list"></i> Stations
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('issep_map') }}" class="nav-link">
            <i class="fas fa-map"></i> Carte
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('issep_legend') }}" class="nav-link">
            <i class="fas fa-info"></i> Légende
        </a>
    </li>
{% endblock %}
