<div class="trafficlight">
    <div class="protector"></div>
    <div class="protector"></div>
    <div class="protector"></div>
    <div class="{{ colors.red }}"></div>
    <div class="{{ colors.yellow}}"></div>
    <div class="{{ colors.green }}"></div>
</div>