<table class="table table-bordered">
    <thead>
    <tr>
        <th>Date</th>
        <th>aqi_value</th>
        <th>Couleur</th>
    </tr>
    </thead>
    {% for indiceH in indices %}
        <tr>
            <td>{{ indiceH.ts }}</td>
            <td>{{ indiceH.aqi_value }}</td>
            <td>
                {% include '@AcMarcheIssep/station/_color.html.twig' with {'indice': indiceH.indice}  %}
            </td>
        </tr>
    {% endfor %}
</table>