{% if indices|length > 0 %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>BelAQI</th>
            <th>Couleur</th>
        </tr>
        </thead>
        {% for indiceH in indices %}
            <tr>
                <td>
                    {{ indiceH.ts|format_date('full') }}<br/>
                    <span class="text-muted">config: {{ indiceH.config_id }}</span>
                </td>
                <td>{{ indiceH.aqi_value }}</td>
                <td>
                    {% include '@AcMarcheIssep/station/_color.html.twig' with {'indice': indiceH} %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p class="text-warning">Aucun indice
        trouvé {% if date is defined %} à la date {{ date|date('d-m-Y') }} {% endif %}</p>
{% endif %}