<table class="table table-bordered">
    <thead>
    <tr>
        <th>Label</th>
        <th>Label</th>
        <th>Valeur</th>
        <th>Couleur</th>
    </tr>
    </thead>
    {% for indice in indices %}
        <tr>
            <td>{{ indice.label }}</td>
            <td>{{ indice.name }}</td>
            <td>{{ indice.value }}</td>
            <td>
                {% include '@AcMarcheIssep/station/_color.html.twig' %}
            </td>
        </tr>
    {% endfor %}
</table>