{% extends '@AcMarcheIssep/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmarcheissep/feux.css') }}"/>
{% endblock %}
{% block body %}
    <div class="card">
        <h3 class="card-header">Les derniers relevés de la station {{ station.nom }}</h3>
        <div class="card-body" style="z-index: 3;">
            {% include '@AcMarcheIssep/indice/_belaqi_details.html.twig' %}
            {% include '@AcMarcheIssep/indice/_belaqi_historique.html.twig' %}
        </div>
    </div>
{% endblock %}