{% extends '@AcMarcheIssep/layout.html.twig' %}
{% block stylesheets %}
        {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/acmarcheissep/feux.css') }}"/>
{% endblock %}
{% block body %}
<div class="card">
    <h3 class="card-header">Aujourd'hui {{ station.nom }}</h3>
    <div class="card-body" style="z-index: 3;">
        {% include '@AcMarcheIssep/_urlexecuted.html.twig' %}
        {% include '@AcMarcheIssep/station/_historique.html.twig' with {'date':today} %}
    </div>
</div>
{% endblock %}