{% extends '@AcMarcheIssep/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Légende</h3>
        <div class="card-body">
            {% include '@AcMarcheIssep/station/_legend.html.twig' %}
        </div>
    </div>

{% endblock %}

