{% extends '@AcMarcheIssep/layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}
{% block body %}

    <div class="card">
        <h3 class="card-header">Cartographie des stations</h3>
        <div class="card-body">
            <div id="stations" data-markers="{{ stations|json_encode }}"></div>
            <div id="map" style="width: 100%;height: 850px;"></div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script>
        const iconUrl = 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/';
        const iconOptions = {
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        };

        const map = L.map('map').setView([50.2274, 5.3400], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        const stations = document.querySelector('#stations');
        const markers = JSON.parse(stations.dataset.markers);
        for (var station in markers) {
            addMarker(markers[station])
        }

        function addMarker(station) {
            let options = {};
            if (station.color) {
                const colorIcon = 'marker-icon-2x-' + station.color + '.png';
                iconOptions.iconUrl = iconUrl + colorIcon
                const icon = new L.Icon(iconOptions);
                options = {icon: icon};
            }
            let url = '/issep/h24/' + station.id;
            let color = '<span class="myCircle" style="background-color:' + station.color + ';"></span>';

            L.marker([station.lat, station.lon], options).addTo(map)
                .bindPopup('<a href="' + url + '">' + station.nom + ' <br/>' + color + '</a>');
        }
    </script>
{% endblock %}